.location {
  &__wrapper {
    position: relative;
    background-color: $chaos-black;
  }

  &__header {
    color: $primary-color;
    padding-top: 6rem;
    @include media(mobile, tablet) {
      padding-top: 100px;
    }
    & > hr {
      width: calc(50% - 30px);
      margin-left: 0;
      margin-top: 1.5rem;
      display: block;
      border: none;
      border-bottom: 1px solid $secondary-color;
      @include media(mobile, tablet) {
        display: none;
      }
    }
  }

  &__content {
    color: $primary-color;
    padding-bottom: 6rem;
    @include media(mobile, tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__lists {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 2.5rem;
    width: 50%;

    @include media(mobile, tablet) {
      width: 100%;
    }
  }

  &__nearby {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 50%;
    gap: 10px;
    padding-right: 4rem;
    padding-top: 3rem;
    margin-right: auto;
    @include media(mobile, tablet) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0;
    }
  }

  &__map {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    padding-bottom: 0px;
    
    @include media(mobile, tablet) {
      position: unset;
      width: 100%;
      margin-top: 6rem; 
      height: 50vh;
    }
  }
}

.nearby {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include media(mobile, tablet) {
      gap: 0;
    }
    &-number {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.2;
    }
  }
}