@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.h1 {
  letter-spacing: -0.03em;
  line-height: 110%;
  font-size: 64px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .h1 {
    font-size: 42px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .h1 {
    font-size: 42px;
  }
}

.h1--primary {
  color: #ffffff;
}

.h1--secondary {
  color: #333;
}

.nav-link {
  letter-spacing: 0.05em;
  line-height: 140%;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  color: #ffffff;
}

.text--sm {
  font-size: 10px;
}
.text--md {
  font-size: 14px;
}
.text--tertiary {
  color: #888;
}
.text--secondary {
  color: #333;
}
.text--primary {
  color: #ffffff;
}

.weight--600 {
  font-weight: 600;
}
.weight--400 {
  font-weight: 400;
}

.item-title {
  font-size: 20px;
  font-weight: 600;
}
.item-title--14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.item-title--26 {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 767px) {
  .item-title--26 {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .item-title--26 {
    font-size: 20px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  padding: 16px 28px;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s ease-in-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.btn--filled {
  background-color: #ffffff;
  color: #333;
}
.btn--filled:hover {
  background-color: #000;
  color: #ffffff;
}
.btn--dark {
  background-color: #333;
  color: #eaeaea;
  width: fit-content;
  white-space: nowrap;
  padding: 16px 40px;
}
.btn--dark:hover {
  background-color: rgb(45, 45, 45);
}
.btn--lined {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.form__control:not(:first-child) {
  margin-top: 1.3rem;
}
.form__input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
  width: 100%;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 400;
}
.form__input:focus {
  border-color: #333;
}
.form__input::placeholder {
  color: rgba(136, 136, 136, 0.8);
}

.section {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1350px;
  height: auto;
}
.section--full-vh {
  height: 100vh;
}
@media (max-width: 767px) {
  .section--full-vh {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section--full-vh {
    height: auto;
  }
}

.nav__wrapper {
  width: 100%;
  position: fixed;
  padding: 0.2rem 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 50;
}
@media (max-width: 767px) {
  .nav__wrapper {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .nav__wrapper {
    display: none;
  }
}

.nav {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}

.nav__logo {
  height: 43px;
}
.nav__logo > img {
  height: 100%;
}

.nav__links {
  display: flex;
}
.nav__links:first-child {
  margin-left: auto;
}
.nav__links:last-child {
  margin-right: auto;
}

.btn-group {
  display: flex;
  gap: 10px;
  height: 43px;
}

.btn__icon {
  margin-left: 10px;
}

.language-switcher {
  position: relative;
}
.language-switcher__btn {
  font-size: 10px;
  text-transform: uppercase;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
.language-switcher__btns {
  position: absolute;
  background-color: #ffffff;
  width: 10rem;
  transform: translateY(10%);
  padding: 1rem;
  border-radius: 0.75rem;
}
.language-switcher__btns.hide {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .language-switcher__btns {
    right: 0;
  }
}
@media (max-width: 767px) {
  .language-switcher__btns {
    right: 0;
  }
}

.mobile-nav {
  position: fixed;
  z-index: 50;
  width: 100%;
}
@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav__main {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  max-width: 1350px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  transition: transform 0.2s;
}
.mobile-nav__main.hide {
  transform: translateY(-100%);
}
.mobile-nav__popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  z-index: 50;
  transform: translateX(100%);
  transition: transform 0.2s ease;
}
.mobile-nav__popup::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.mobile-nav__popup.hide {
  transform: translate(0, 0);
}
.mobile-nav__btns {
  display: flex;
  justify-content: space-between;
}
.mobile-nav__list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.mobile-nav__link {
  letter-spacing: -0.03em;
  line-height: 1.2;
  font-size: 28px;
  font-weight: 600;
  font-family: Poppins;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #eaeaea;
}
.mobile-nav__link > a {
  color: #333;
}
.mobile-nav__contact {
  display: flex;
  margin-top: 3rem;
  gap: 20px;
}
.mobile-nav__contact-btn {
  width: 100%;
}
.mobile-nav__contact-btn > * {
  padding-top: 0;
  padding-bottom: 0;
}
.mobile-nav__contact-btn--rounded {
  border-radius: 50%;
  width: 43px;
  height: 43px;
}
.mobile-nav__contact-btn--rounded > * {
  width: 16px;
  height: 16px;
}
.mobile-nav__contact-btns {
  display: flex;
  gap: 10px;
}

.popup__close-btn {
  width: 38px;
  height: 38px;
}

.location__wrapper {
  position: relative;
  background-color: #0f0f0f;
  height: 100vh;
}
.location__header {
  color: #ffffff;
  padding-top: 6rem;
}
@media (max-width: 767px) {
  .location__header {
    padding-top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .location__header {
    padding-top: 100px;
  }
}
.location__header > hr {
  width: calc(50% - 30px);
  margin-left: 0;
  margin-top: 1.5rem;
  display: block;
  border: none;
  border-bottom: 1px solid #333;
}
@media (max-width: 767px) {
  .location__header > hr {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .location__header > hr {
    display: none;
  }
}
.location__content {
  color: #ffffff;
  padding-bottom: 6rem;
}
@media (max-width: 767px) {
  .location__content {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .location__content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.location__lists {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 2.5rem;
  width: 50%;
}
@media (max-width: 767px) {
  .location__lists {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .location__lists {
    width: 100%;
  }
}
.location__nearby {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 50%;
  gap: 10px;
  padding-right: 4rem;
  padding-top: 3rem;
  margin-right: auto;
}
@media (max-width: 767px) {
  .location__nearby {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .location__nearby {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }
}
.location__map {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  .location__map {
    position: unset;
    width: 100%;
    margin-top: 6rem;
    height: 50vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .location__map {
    position: unset;
    width: 100%;
    margin-top: 6rem;
    height: 50vh;
  }
}

.nearby__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 767px) {
  .nearby__content {
    gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .nearby__content {
    gap: 0;
  }
}
.nearby__content-number {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.technology__wrapper {
  background-color: #eaeaea;
  padding: 6rem 0;
}
.technology__header {
  color: #333;
}
.technology__header > hr {
  margin-top: 1.5rem;
  border: none;
  border-bottom: 1px solid #333;
}
@media (max-width: 767px) {
  .technology__header > hr {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .technology__header > hr {
    display: none;
  }
}
.technology__lists {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .technology__lists {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .technology__lists {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}
.technology__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 33.3333333333%;
  padding-right: 4rem;
  padding-top: 3rem;
  gap: 1rem;
}
@media (max-width: 767px) {
  .technology__item {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .technology__item {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }
}

.main-footer {
  background-color: #0f0f0f;
  color: #fff;
}

.footer {
  padding: 3rem 1rem 1rem;
  height: 100%;
  width: 100%;
}
.footer__header {
  display: flex;
  justify-content: space-between;
}
.footer .footer__icons {
  display: flex;
  color: #eaeaea;
  gap: 1rem;
  font-size: 16px;
}
.footer .footer__icons .footer__icon {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.footer .footer__icons .footer__icon:hover {
  background-color: #eaeaea;
  color: #000;
}
.footer__left {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
@media (max-width: 767px) {
  .footer__left {
    flex-direction: column;
    width: auto;
    gap: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer__left {
    flex-direction: column;
    width: auto;
    gap: 3rem;
  }
}
.footer .copyright,
.footer .create-by {
  font-size: 13px;
  font-weight: 300;
  color: #eaeaea;
}
.footer .create-by p {
  margin-bottom: 0.6rem;
}
.footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__nav ul li {
  list-style: none;
}
.footer__nav ul li a {
  text-transform: uppercase;
  color: #eaeaea;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.footer__footer {
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guideline {
  color: #ffffff;
  position: relative;
  z-index: 10;
}
.guideline__wrapper {
  background-image: url("../../images/guideline.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0;
  position: relative;
}
@media (max-width: 767px) {
  .guideline__wrapper {
    background-attachment: scroll;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .guideline__wrapper {
    background-attachment: scroll;
  }
}
.guideline__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.guideline__header {
  color: #ffffff;
}
.guideline__header > hr {
  margin-top: 1.5rem;
  border: none;
  border-bottom: 1px solid #888;
}
@media (max-width: 767px) {
  .guideline__header > hr {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .guideline__header > hr {
    display: none;
  }
}
.guideline__content {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
}
@media (max-width: 767px) {
  .guideline__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 2rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .guideline__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 2rem 1rem;
  }
}
.guideline__content-wrapper {
  width: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .guideline__content-wrapper {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .guideline__content-wrapper {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
  }
}
.guideline__content-step {
  font-size: 70px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .guideline__content-step {
    font-size: 2.625rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .guideline__content-step {
    font-size: 2.625rem;
  }
}
.guideline__content-desc {
  font-size: 1rem;
  max-width: 200px;
  color: #eaeaea;
}

.other-projects {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .other-projects {
    flex-direction: column;
    align-items: start;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .other-projects {
    flex-direction: column;
    align-items: start;
  }
}
.other-projects__wrapper {
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./../../images/realizations_desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  padding: 6rem 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .other-projects__wrapper {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./../../images/realizations_mobile.jpg);
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .other-projects__wrapper {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./../../images/realizations_mobile.jpg);
    height: auto;
  }
}
.other-projects__header {
  width: 66.6667%;
}
.other-projects__header h1 {
  width: 32rem;
}
@media (max-width: 767px) {
  .other-projects__header {
    width: 100%;
  }
  .other-projects__header h1 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .other-projects__header {
    width: 100%;
  }
  .other-projects__header h1 {
    width: 100%;
  }
}
.other-projects .other-project {
  display: flex;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .other-projects .other-project {
    flex-direction: column;
    gap: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .other-projects .other-project {
    flex-direction: column;
    gap: 0.8rem;
  }
}
.other-projects .other-project p {
  max-width: 200px;
  margin-top: -0.4rem;
}
@media (max-width: 767px) {
  .other-projects .other-project p {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .other-projects .other-project p {
    max-width: 100%;
  }
}

.contact__wrapper {
  padding: 7rem 0;
  background-color: #eaeaea;
}
.contact__content {
  display: flex;
  gap: 4rem;
}
@media (max-width: 767px) {
  .contact__content {
    flex-direction: column;
    gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact__content {
    flex-direction: column;
    gap: 0;
  }
}
.contact__header {
  margin-bottom: 3rem;
}
.contact__left {
  width: 49vw;
}
@media (max-width: 767px) {
  .contact__left {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact__left {
    width: 100%;
  }
}
.contact__form--header {
  margin-bottom: 1.5rem;
  display: block;
  font-weight: 600;
}
.contact__form--footer {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
@media (max-width: 767px) {
  .contact__form--footer {
    flex-direction: column;
  }
  .contact__form--footer .btn--dark {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact__form--footer {
    flex-direction: column;
  }
  .contact__form--footer .btn--dark {
    width: 100%;
  }
}
.contact__form--footer p {
  letter-spacing: -0.3px;
  line-height: 14px;
}
.contact__right {
  margin-top: 2.5rem;
}
@media (max-width: 767px) {
  .contact__right {
    border-left: 1px solid rgba(15, 15, 15, 0.4);
    height: fit-content;
    padding-left: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact__right {
    border-left: 1px solid rgba(15, 15, 15, 0.4);
    height: fit-content;
    padding-left: 1.4rem;
  }
}
.contact__info:not(:last-child) {
  margin-bottom: 1.2rem;
}
.contact__info p:first-child {
  letter-spacing: 0.7px;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
